SECRET_KEY=your_secret_key_here
DEBUG=True

DB_NAME=campus_db
DB_USER=campus_user
DB_PASSWORD=campus_password
DB_HOST=localhost
DB_PORT=5434

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=campus-life@example.com
EMAIL_HOST_PASSWORD=your_email_password_here
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=Campus Life <campus-life@example.com>
